<div class="container">
  <div class="jumbotron" id="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-sm text-center">
                <h2 class="title">Olympic Hero!</h2>
                <h5 class="description">How Do You Stack Up Against the World's Greatest Athletes?</h5>
              </div>
            </div>
          </div>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="nameInput">Enter your Name:</label>
    <input type="text" class="form-control" id="nameInput" placeholder="John Doe">
  </div>
  
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="John.Doe@gmail.com">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <div class="form-group">
    <label for="pickEvent">Pick your Event:</label>
    <select class="form-control" id="pickEvent" placeholder="Pick your Event!">
      <option>1</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>