<nav class="navbar navbar-default navbar-static-top navbar-inverse sticky-nav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/winter"><span class="glyphicon glyphicon-user"></span>Winter</a>
      </li>
      <li>
        <a href="/summer"><span class="glyphicon glyphicon-info-sign"></span>Summer</a>
      </li>
    </ul>
  </div>
</nav>
