<div class="jumbotron" id="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div id="carousel" class="carousel slide" data-ride="carousel"></div>
            </div>
            <div class="col-sm">
              <h2 class="title">Olympic Hero!</h2>
              <h5 class="description">How Do You Stack Up Against the World's Greatest Athletes?</h5>
              <button type="button" id="revertWinter" class="btn btn-primary">Winter Olympics</button>
              <button type="button" id="revertSummer" class="btn btn-">Summer Olympics</button>
            </div>
          </div>
        </div>
</div>


