<div class="container">
	<div class="jumbotron" id="jumbotron" style="background-image: url('./img/homeButtons/winterBackground.jpg');">
			<div class="container">
			<div class="row">
				<div class="col-sm text-center">
				<h2 class="title">Olympic Hero!</h2>
				<h5 class="description">How Do You Stack Up Against the World's Greatest Athletes?</h5>
				</div>
			</div>
			</div>
	</div>
</div>

<div class="container">
	<div class="row">
{{#each event as |info|}}
<div class="col col-sm-4" id="winterCard">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" id="winterImage" src={{info.image}} alt="Card image cap winterSports">
  <div class="card-body text-center">
    <button id={{info.name}} class="winterButton">{{info.name}}</button>
  </div>
</div>
</div>
{{/each}}
	</div>
</div>

<script type="text/javascript" src="./js/winter.js"></script>